 <footer>
      <div class="row">
        <div class="small-6 columns footer">
          <p>&copy; 2013-2017 <%=sitetitle%>.
          </p>
        </div>
      </div>
  </footer>
</section>
<script type="text/javascript" src="/webpack/vendor.js" async></script>
<script type="text/javascript" src="/webpack/public.js" async></script>
</body>
</html>
