 <footer>
      <div class="row">
        <div class="large-6 columns small-centered ">
          <p>&copy; 2013-2017 <%=sitetitle%>.
          </p>
        </div>
      </div>
  </footer>
</section>
</body>
</html>
