<% include head %>

<form method="POST" novalidate>
<% if (message != "") { %>
<div class="row">
  <div class="large-12 columns">
    <div class="alert callout">
    <p>
      <i class="fi-alert"></i> <%= message %>
    </p>
    </div>
  </div>
</div>
<% } %>

<div class="row">
  <div class="large-4 large-centered columns">
    <label for="username">Username</label>
    <input type="text" name="username" autocomplete="off" />
  </div>
</div>
<div class="row">
  <div class="large-4 large-centered columns">
    <label for="password">Password</label>
    <input type="password" name="password" autocomplete="off" />
  </div>
</div>
<div class="row">
  <div class="large-4 large-centered columns">
    <input type="submit" class="button" name="submit" value="login"/>
  </div>
</div>
<div class="row">
  <div class="large-4 large-centered columns">
    <a href="/lostpassword">Forgotten your login?</a>
  </div>
</div>
</form>
<% include foot %>
