<% include head %>
<form>
<div class="row">
  <div class="large-4 large-centered columns">
    <label for="username">Username</label>
    <input type="text" name="username"/>
  </div>
</div>
<div class="row">
  <div class="large-4 large-centered columns">
    <input type="submit" class="button" name="submit" value="reset"/>
  </div>
</div>
</form>
<% include foot %>
