<% include head %>
<form>
<div class="row">
  <div class="large-4 large-centered columns">
    <label for="username">Username</label>
    <input type="text" name="username" autocomplete="off" />
    <!--<small class="error"><%= locals.message %></small>-->
  </div>
</div>
<div class="row">
  <div class="large-4 large-centered columns">
    <label for="password">Password</label>
    <input type="password" name="password" autocomplete="off" />
  </div>
</div>
<div class="row">
  <div class="large-4 large-centered columns">
    <label for="confirmpassword">Confirm Password</label>
    <input type="password" name="confirmpassword" autocomplete="off" />
  </div>
</div>
<div class="row">
  <div class="large-4 large-centered columns">
    <input type="submit" class="button" name="changepassword" value="Change password"/>
  </div>
</div>
</form>
<% include foot %>
