<% include head %>

<div class="row">
<div class="large-9 columns" role="content">
<% var summary = false; %>
<% include post %>

<div id="content"></div>

</div>

<% include sidebar %>

</div>

<% include foot %>
