<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/webpack/vendor.css" />
  <link rel="stylesheet" href="/webpack/admin.css" />
  <link rel="stylesheet" href="/icons/foundation-icons.css" />
  <script type="text/javascript" src="/webpack/vendor.js"></script>
  <title><%=title %></title>

<% include analytics %>

</head>

<body>
<div id="content"> </div>
<script type="text/javascript" src="/webpack/admin.js"></script>
</body>
</html>
